<!DOCTYPE html>
<html lang="en" ng-app="MyFirstApp"><!-- en ng-app el nombre del modulo -->
<head>
	<meta charset="UTF-8">
	<title>hola peticiones ajax angular</title>
	<script src="../js/angular.min.js"></script>
	<script src="peticionesHttp.js"></script>
</head>
<body ng-controller="MyFirstAppController"><!--Nombre dle controlador ng-controller -->


	<label>Titulo del post:</label>
	<input type="text" ng-model="newPost.title">
	<label>Cuerpo del mensaje:</label>
	<textarea ng-model="newPost.body"></textarea>
	<button ng-click="addPost()">Agregar post</button>
	<ul>
		<!--imprimimos el title y el body de los posts-->
		<li ng-repeat="post in posts">
			<h2>{{post.title}}</h2>
			<p>{{post.body}}</p>
		</li>
	</ul>
</body>
</html>